/* General body styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* A light gray background for a cleaner look */
}

/* Navbar styling */
.navbar {
    border-bottom: 2px solid #ffc107 !important; /* A bold, contrasting border */
}

/* Navbar links and brand */
.navbar-brand {
    font-size: 1.5rem;
    color: #ffc107 !important; /* Brand color to stand out */
}

.navbar-nav .nav-link {
    color: #fff !important; /* White links on a dark background */
    font-weight: 400;
    transition: color 0.3s ease-in-out;
}

    .navbar-nav .nav-link:hover {
        color: #ffc107 !important; /* Yellow hover effect for brand consistency */
    }

/* Icons */
.nav-link .fas {
    font-size: 1.2rem;
}
